<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>jenkins</username>
            <password>${env.jenkins_auth}</password>
            <id>central</id>
        </server>
        <server>
            <username>jenkins</username>
            <password>${env.jenkins_auth}</password>
            <id>snapshots</id>
        </server>
        <server>
            <username>jenkins</username>
            <password>${env.jenkins_auth}</password>
            <id>repo</id>
        </server>
        <server>
            <id>Tomcat</id>
            <username>admin</username>
            <password>${env.tomcat_auth}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <mirrorOf>*</mirrorOf>
            <name>repo</name>
            <url>https://repo.gns.cri.nz/artifactory/repo</url>
            <id>repo</id>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-releases</name>
                    <url>https://repo.gns.cri.nz/artifactory/libs-releases</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>libs-snapshots</name>
                    <url>https://repo.gns.cri.nz/artifactory/libs-snapshots</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>plugins-releases</name>
                    <url>https://repo.gns.cri.nz/artifactory/plugins-releases</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>plugins-snapshots</name>
                    <url>https://repo.gns.cri.nz/artifactory/plugins-snapshots</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
